<div>
  <h1>Registro de Servicios</h1>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="hcodigo" />
        <mat-error *ngIf="form.get('hcodigo')?.hasError('required')">
          El ID del servicio es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Compañia</mat-label>
        <input matInput formControlName="hnamecompany" />
        <mat-error *ngIf="form.get('hnamecompany')?.hasError('required')">
          El nombre de la compañia es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Servicio</mat-label>
        <input matInput formControlName="hnameservice" />
        <mat-error *ngIf="form.get('hnameservice')?.hasError('required')">
          El nombre del servicio es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="hidCategory">
          <mat-option *ngFor="let c of listcategorias" [value]="c.idCategory">
            {{ c.typeCategory }}
          </mat-option>
          <mat-error *ngIf="form.get('hidCategory')?.hasError('required')">
            La categoria es obligatoria!!
          </mat-error>
        </mat-select>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary">Aceptar</button>
    </form>
  </div>
</div>