@import url('./shared/navbar.styles.css');
@import url('./shared/body.colors.css');


#chat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 30%;
    margin: auto;
    margin-top: 1em;
}

.llamaBot-speech-container{
    height: 11.5em;
    display: flex;
    margin-right: auto;
    margin-bottom: 1.5em;
}

.llamaBot-speech-container img{
    align-self: flex-end;
}

.bubble-text-bot, .bubble-text-user {
    position: relative;
    background: #ffffff;
    color: #000000;
    font-size: 1rem;
    padding: 1em;
    box-shadow: 0px 3px 2px 3px rgba(163, 163, 163, 0.23);
    text-align: center;
    width: 18em;
    height: fit-content;
    border-radius: 10%;
    border: #cfcfcf solid 1px;
}
.bubble-text-bot:after, .bubble-text-user:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 25px 23px 0 0;
    border-color: #ffffff transparent transparent transparent;
    bottom: -24px;
    left: 13%;
    margin-left: -11px;
    transform: skewX(-20deg);
}
.bubble-text-bot:before, .bubble-text-user:before{
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 26.5px 23.5px 0 0;
    border-color: #c7c7c7 transparent transparent transparent;
    bottom: -26px;
    left: 13%;
    margin-left: -12px;
    display: block;
    transform: skewX(-20deg);
}

#option-container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 1em;
}

#tip-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tip-button{
    font-size: 1rem;
    background-color: white;
    color:#506C4D;
    border-radius: 20px;
    text-align: center;
    padding: 0.4rem 4rem;
    width: 100%;
    border-color: #506C4D;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.tip-button:hover{
    background-color: #98BE93;
    color: white;
    font-size: 1.2rem;
    padding: 0.29rem 2.7rem;
}

.bubble-text-user{
    background: #7BAE7F;
    border-color: #73956F;
    color: white;
    margin-left: auto;
}

.bubble-text-user:after {
    border-color: #7BAE7F transparent transparent transparent;
    left: 87%;
    z-index: 1;
    transform: skewX(57deg);
}

.bubble-text-user:before{
    border-color: #73956F transparent transparent transparent;
    left: 87%;
    z-index: 1;
    transform: skewX(60deg);
}

